<div class="container">
    <h1>Selecione o Endereço de Entrega</h1>

    <p class="mb-4">
        Selecione o endereço de entrega e clique em <b>Continuar</b> para
        prosseguir para a <b>seleção da forma de pagamento</b>.
    </p>

    <div class="d-flex justify-content-around flex-wrap border rounded-top pt-4 px-3">
        <div class="mb-4 mx-2 flex-even">
            <input type="radio" class="btn-check" name="endereco" id="end1" autocomplete="off">
            <label class="btn btn-outline-danger p-4 h-100 w-100" for="end1">
                <h3 class="text-dark text-dark_title fw-bold">
                    Minha Casa<br>
                </h3>
                    <hr>
                <p>
                    <b>Ricardo Maroquio</b> <br>
                    Rua Caminho Virtual, 101 <br>
                    Compulândia/PC <br>
                    CEP 01.010-101
                </p>
                    
                
            </label>
        </div>

        <div class="mb-4 mx-2 flex-even">
            <input type="radio" class="btn-check" name="endereco" id="end2" autocomplete="off">
            <label class="btn btn-outline-danger p-4 h-100 w-100" for="end2">
                <h3 class="text-dark text-dark_title fw-bold">
                    Trabalho<br>
                </h3>
                    <hr>
                <p>
                    <b>Ricardo Maroquio</b> <br>
                    Rua Caminho Virtual, 101 <br>
                    Compulândia/PC <br>
                    CEP 01.010-101
                </p>
                    
                
            </label>
        </div>

        <div class="mb-4 mx-2 flex-even">
            <input type="radio" class="btn-check" name="endereco" id="end3" autocomplete="off">
            <label class="btn btn-outline-danger p-4 h-100 w-100" for="end3">
                <h3 class="text-dark text-dark_title fw-bold">
                    Taquari<br>
                </h3>
                    <hr>
                <p>
                    <b>Ricardo Maroquio</b> <br>
                    Rua Caminho Virtual, 101 <br>
                    Compulândia/PC <br>
                    CEP 01.010-101
                </p>
                    
                
            </label>
        </div>
    </div>
    <div class="text-end border-top-0 rounded-bottom p-4 pb-0">
        <a href="closeShopping" class="btn btn-outline-success btn-lg mb-3">
            Voltar aos Itens
        </a>
        <a href="closePayment" class="btn btn-danger btn-lg ms-2 mb-3">
            Continuar
        </a>
        
    </div>
</div>