<div class="container">
    <h1>Selecione a Forma de Pagamento</h1>

    <p class="mb-4">
        Selecione a forma de pagamento e clique em <b>Continuar</b> para
        prosseguir para a <b>concluir o pedido</b>.
    </p>

    <div class="d-flex justify-content-between flex-wrap border rounded-top pt-4 px-3">
        <div class="mb-4 mx-2 flex-even">
            <input type="radio" class="btn-check" name="pagamento" id="pag1" autocomplete="off">
            <label class="btn btn-outline-danger p-4 h-100 w-100" for="pag1">
                <h3 class="text-dark text-dark_title fw-bold">
                    Cartão de Crédito<br>
                </h3>
                    <hr>
                <form action="#">
                    <div class="form-floating mb-3">
                
                        <input type="text" class="form-control" id="textNome" autofocus>
                        <label for="textNome" class="text-black-50">Nome Impresso no Cartão</label>
        
                    </div>
                    <div class="form-floating mb-3">
                
                        <input type="number" class="form-control" id="textNumero">
                        <label for="textNumero" class="text-black-50">Número do Cartão</label>
        
                    </div>
                    <div class="form-floating mb-3">
                
                        <input type="text" class="form-control" id="textValidade">
                        <label for="textValidade" class="text-black-50">Validade (mm/aa)</label>
        
                    </div>
                    <div class="form-floating mb-3">
                
                        <input type="text" class="form-control" id="textCodigo">
                        <label for="textCodigo" class="text-black-50">Código de Segurança</label>
        
                    </div>
                    <div class="form-floating">
                        <select id="selParcelas" class="form-select">
                            <option value="1">À vista</option>
                            <option value="2">2 x sem juros</option>
                            <option value="3">3 x sem juros</option>
                            <option value="4">4 x sem juros</option>
                            <option value="5">5 x sem juros</option>
                            <option value="6">6 x sem juros</option>
                        </select>
                        <label for="selParcelas" class="text-black-50">Parcelamento</label>
        
                    </div>
                </form>
                    
                
            </label>
        </div>

        <div class="mb-4 mx-2 flex-even">
            <input type="radio" class="btn-check" name="pagamento" id="pag2" autocomplete="off">
            <label class="btn btn-outline-danger p-4 h-100 w-100" for="pag2">
                <h3 class="text-dark text-dark_title fw-bold">
                    Dinheiro<br>
                </h3>
                    <hr>
                <form action="#">
                    <h4>Valor da Compra: <b>R$ 865,00</b></h4>
                    <br>
                    <p>
                        Se precisar de troco, informe no campo abaixo.
                    </p>
                    <div class="form-floating mb-3">
                        <input type="number" id="txtTroco" class="form-control">
                        <label for="txtTroco" class="text-black-50">Precisa de troco para quanto?</label>
                    </div>
                </form>
                    
                
            </label>
        </div>
    </div>
    <div class="text-end border-top-0 rounded-bottom p-4 pb-0">
        <a href="closeAddress" class="btn btn-outline-success btn-lg mb-3">
            Voltar aos Endereços
        </a>
        <a href="finishOrder" class="btn btn-danger btn-lg ms-2 mb-3">
            Finalizar
        </a>
        
    </div>
</div>