<div class="container">
    <div id="carouselHome" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="assets/images/image.png" class="d-block w-100" alt="Banner Service">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/images/image.png" class="d-block w-100" alt="Banner Service">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="assets/images/image.png"class="d-block w-100" alt="Banner Service">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="visually-hidden">Próximo</span>
        </button>
      </div>

      <hr class="mt-3">
</div>