
<app-carousel-service></app-carousel-service>

<div class="container">
  <div class="row">

    <div class="col-12 col-md-5">
      <form class="justify-content-center justify-content-md-start mb-3 mb-md-0">

        <div class="input-group input-group-sm">

          <input type="text" class="form-control" placeholder="Pesquise aqui">

          <button class="btn btn-danger" type="button">Buscar</button>

        </div>
      </form>
    </div>

    <div class="col-12 col-md-7">
      <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
        <form class="d-inline-block">

          <select class="form-select form-select-sm">
            <option value="">Ordenar produtos por</option>
            <option value="">Ordenar pelo nome</option>
            <option value="">Ordenar pelo menor preço</option>
            <option value="">Ordenar pelo maior preço</option>
          </select>

        </form>

        <nav class="d-inline-block me-3">
          <ul class="pagination pagination-sm my-0">
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">6</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>

  <hr class="mt-3">

  <div class="row g-3">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    
      <div class="card product-card__body text-center bg-light">

        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart icon-heart"></i>
        </a>
        
        <a href="product">
          <img src="assets/images/produtos/cachecol-croche-de-la-com-franja-la.jpg" class="card-img-top product-card__img" alt="cachecol">
        </a>
        

        <div class="card-header">
          R$ 32,50
        </div>

        <a href="#" class="card-body product-card__link">
          <h5 class="card-title">Cachecol</h5>

          <p class="card-text truncar-3l">
            Cachecol feito a mão grosso e ótimo para usar em dias frios.
          </p>
        </a>

        <div class="card-footer">
          <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
            Adicionar ao Carrinho
          </a>
        </div>
        <small class="text-success">3 em estoque</small>
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    
      <div class="card product-card__body text-center bg-light">

        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart icon-heart"></i>
        </a>
        
        <a href="product">
          <img src="assets/images/produtos/ele.jpg" class="card-img-top product-card__img" alt="cachecol">
        </a>
        

        <div class="card-header">
          R$ 32,50
        </div>

        <a href="#" class="card-body product-card__link">
          <h5 class="card-title">Eletricista</h5>

          <p class="card-text truncar-3l">
            Precisa de ajudar para arrumar sua parte eltrica da sua casa?
            não se preocupe porquê tenho anos de experiência em mexer com eletricidade
            e posso fazer em um valor que seja consideravel para quem me contratar.
          </p>
        </a>

        <div class="card-footer">
          <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
            Adicionar ao Carrinho
          </a>
        </div>
        <small class="text-success">3 em estoque</small>
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    
      <div class="card product-card__body text-center bg-light">

        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart icon-heart"></i>
        </a>
        
        <a href="#">
          <img src="assets/images/produtos/Entenda-por-que-o-mercado-de-cerveja-artesanal-cresceu-tanto-no-Brasil.jpg" class="card-img-top product-card__img" alt="cachecol">
        </a>
        

        <div class="card-header">
          R$ 32,50
        </div>

        <a href="#" class="card-body product-card__link">
          <h5 class="card-title">Cachecol</h5>

          <p class="card-text truncar-3l">
            Cachecol feito a mão grosso e ótimo para usar em dias frios.
          </p>
        </a>

        <div class="card-footer">
          <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
            Adicionar ao Carrinho
          </a>
        </div>
        <small class="text-success">3 em estoque</small>
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    
      <div class="card product-card__body text-center bg-light">

        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart-fill icon-heart"></i>
        </a>
        
        <a href="#">
          <img src="assets/images/produtos/fto_ft1_169649.jpg" class="card-img-top product-card__img" alt="cachecol">
        </a>
        

        <div class="card-header">
          R$ 32,50
        </div>

        <a href="#" class="card-body product-card__link">
          <h5 class="card-title">Cachecol</h5>

          <p class="card-text truncar-3l">
            Cachecol feito a mão grosso e ótimo para usar em dias frios.
          </p>
        </a>

        <div class="card-footer">
          <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
            Adicionar ao Carrinho
          </a>
        </div>
        <small class="text-success">3 em estoque</small>
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    
      <div class="card product-card__body text-center bg-light">

        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart icon-heart"></i>
        </a>
        
        <a href="#">
          <img src="assets/images/produtos/cachecol-croche-de-la-com-franja-la.jpg" class="card-img-top product-card__img" alt="cachecol">
        </a>
        

        <div class="card-header">
          R$ 32,50
        </div>

        <a href="#" class="card-body product-card__link">
          <h5 class="card-title">Cachecol</h5>

          <p class="card-text truncar-3l">
            Cachecol feito a mão grosso e ótimo para usar em dias frios.
          </p>
        </a>

        <div class="card-footer">
          <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
            Adicionar ao Carrinho
          </a>
        </div>
        <small class="text-success">3 em estoque</small>
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    
      <div class="card product-card__body text-center bg-light">

        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart icon-heart"></i>
        </a>
        
        <a href="#">
          <img src="assets/images/produtos/ele.jpg" class="card-img-top product-card__img" alt="cachecol">
        </a>
        

        <div class="card-header">
          R$ 32,50
        </div>

        <a href="#" class="card-body product-card__link">
          <h5 class="card-title">Cachecol</h5>

          <p class="card-text truncar-3l">
            Cachecol feito a mão grosso e ótimo para usar em dias frios.
          </p>
        </a>

        <div class="card-footer">
          <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
            Adicionar ao Carrinho
          </a>
        </div>
        <small class="text-success">3 em estoque</small>
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    
      <div class="card product-card__body text-center bg-light">

        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart icon-heart"></i>
        </a>
        
        <a href="#">
          <img src="assets/images/produtos/Entenda-por-que-o-mercado-de-cerveja-artesanal-cresceu-tanto-no-Brasil.jpg" class="card-img-top product-card__img" alt="cachecol">
        </a>
        

        <div class="card-header">
          R$ 32,50
        </div>

        <a href="#" class="card-body product-card__link">
          <h5 class="card-title">Cachecol</h5>

          <p class="card-text truncar-3l">
            Cachecol feito a mão grosso e ótimo para usar em dias frios.
          </p>
        </a>

        <div class="card-footer">
          <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
            Adicionar ao Carrinho
          </a>
        </div>
        <small class="text-success">3 em estoque</small>
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    
      <div class="card product-card__body text-center bg-light">

        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart icon-heart"></i>
        </a>
        
        <a href="#">
          <img src="assets/images/produtos/fto_ft1_169649.jpg" class="card-img-top product-card__img" alt="cachecol">
        </a>
        

        <div class="card-header">
          R$ 32,50
        </div>

        <a href="#" class="card-body product-card__link">
          <h5 class="card-title">Cachecol</h5>

          <p class="card-text truncar-3l">
            Cachecol feito a mão grosso e ótimo para usar em dias frios.
          </p>
        </a>

        <div class="card-footer">
          <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
            Adicionar ao Carrinho
          </a>
        </div>
        <small class="text-success">3 em estoque</small>
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    
      <div class="card product-card__body text-center bg-light">

        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart icon-heart"></i>
        </a>
        
        <a href="#">
          <img src="assets/images/produtos/cachecol-croche-de-la-com-franja-la.jpg" class="card-img-top product-card__img" alt="cachecol">
        </a>
        

        <div class="card-header">
          R$ 32,50
        </div>

        <a href="#" class="card-body product-card__link">
          <h5 class="card-title">Cachecol</h5>

          <p class="card-text truncar-3l">
            Cachecol feito a mão grosso e ótimo para usar em dias frios.
          </p>
        </a>

        <div class="card-footer">
          <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
            Adicionar ao Carrinho
          </a>
        </div>
        <small class="text-success">3 em estoque</small>
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    
      <div class="card product-card__body text-center bg-light">

        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart icon-heart"></i>
        </a>
        
        <a href="#">
          <img src="assets/images/produtos/ele.jpg" class="card-img-top product-card__img" alt="cachecol">
        </a>
        

        <div class="card-header">
          R$ 32,50
        </div>

        <a href="#" class="card-body product-card__link">
          <h5 class="card-title">Cachecol</h5>

          <p class="card-text truncar-3l">
            Cachecol feito a mão grosso e ótimo para usar em dias frios.
          </p>
        </a>

        <div class="card-footer">
          <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
            Adicionar ao Carrinho
          </a>
        </div>
        <small class="text-success">3 em estoque</small>
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    
      <div class="card product-card__body text-center bg-light">

        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart icon-heart"></i>
        </a>
        
        <a href="#">
          <img src="assets/images/produtos/Entenda-por-que-o-mercado-de-cerveja-artesanal-cresceu-tanto-no-Brasil.jpg" class="card-img-top product-card__img" alt="cachecol">
        </a>
        

        <div class="card-header">
          R$ 32,50
        </div>

        <a href="#" class="card-body product-card__link">
          <h5 class="card-title">Cachecol</h5>

          <p class="card-text truncar-3l">
            Cachecol feito a mão grosso e ótimo para usar em dias frios.
          </p>
        </a>

        <div class="card-footer">
          <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
            Adicionar ao Carrinho
          </a>
        </div>
        <small class="text-success">3 em estoque</small>
      </div>

    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    
      <div class="card product-card__body text-center bg-light">

        <a href="#" class="position-absolute end-0 p-2 text-danger">
          <i class="bi-suit-heart icon-heart"></i>
        </a>
        
        <a href="#">
          <img src="assets/images/produtos/fto_ft1_169649.jpg" class="card-img-top product-card__img" alt="cachecol">
        </a>
        

        <div class="card-header">
          R$ 32,50
        </div>

        <a href="#" class="card-body product-card__link">
          <h5 class="card-title">Cachecol</h5>

          <p class="card-text truncar-3l">
            Cachecol feito a mão grosso e ótimo para usar em dias frios.
          </p>
        </a>

        <div class="card-footer">
          <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
            Adicionar ao Carrinho
          </a>
        </div>
        <small class="text-success">3 em estoque</small>
      </div>

    </div>
    
    

  </div>

  <hr class="mt-5">

  <div class="row pb-3">

    <div class="col-12">
      <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
        <form class="d-inline-block">

          <select class="form-select form-select-sm">
            <option value="">Ordenar produtos por</option>
            <option value="">Ordenar pelo nome</option>
            <option value="">Ordenar pelo menor preço</option>
            <option value="">Ordenar pelo maior preço</option>
          </select>

        </form>

        <nav class="d-inline-block me-3">
          <ul class="pagination pagination-sm my-0">
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">5</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">6</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

  </div>

</div>