<div class="container">
    <h1>Minha Conta</h1>
    <div class="row gx-3 mb-3">
        <div class="col-4">
            <div class="list-group">
                <a href="dataClient" class="list-group-item list-group-item-action">
                    <i class="bi-person fs-6"></i> Dados Pessoais
                </a>

                <a href="clientContacts" class="list-group-item list-group-item-action">
                    <i class="bi-mailbox fs-6"></i> Contatos
                </a>

                <a href="clientAddress" class="list-group-item list-group-item-action">
                    <i class="bi-house-door fs-6"></i> Endereço
                </a>

                <a href="clientOrders" class="list-group-item list-group-item-action bg-danger text-light">
                    <i class="bi-person fs-6"></i> Pedidos
                </a>

                <a href="clientFavorites" class="list-group-item list-group-item-action">
                    <i class="bi-heart fs-6"></i> Favoritos
                </a>

                <a href="clientChangePassword" class="list-group-item list-group-item-action">
                    <i class="bi-lock fs-6"></i> Alterar Senha
                </a>

                <a href="home" class="list-group-item list-group-item-action">
                    <i class="bi-door-open fs-6"></i> Sair
                </a>
            </div>
        </div>
        <div class="col-8">
            <form action="#" class="row mb-3">
                <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                        <select class="form-select">
                            <option value="30">últimos 30 dias</option>
                            <option value="60">últimos 60 dias</option>
                            <option value="90">últimos 90 dias</option>
                            <option value="180">últimos 180 dias</option>
                            <option value="360">últimos 360 dias</option>
                            <option value="9999" selected>Todo o período</option>
                        </select>
                        <label>Período</label>
                    </div>
                </div>
                    <div class="col-12 col-md-6">
                        <div class="form-floating">
                            <select class="form-select">
                                <option value="1" selected>Mais novos primeiro</option>
                                <option value="2">Mais antigos primeiro</option>
                            </select>
                            <label>Ordenação</label>
                        </div>
                    </div>
            </form>

            <div class="accordion" id="divPedidos">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pedido000010">
                      <b>Pedido 000010</b>
                      <span class="mx-1">(realizado em 11/10/2020)</span>
                    </button>
                  </h2>
                  <div id="pedido000010" class="accordion-collapse collapse" data-bs-parent="#divPedidos">
                    <div class="accordion-body">
                       <table class="table">
                           <thead>
                                <tr>
                                    <th>Produto</th>
                                    <th class="text-end">R$ Unit.</th>
                                    <th class="text-center">Qtde.</th>
                                    <th class="text-end">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cachecol</td>
                                    <td class="text-end">32,00</td>
                                    <td class="text-center">4</td>
                                    <td class="text-end">234,00</td>
                                </tr>
                                <tr>
                                    <td>Cachecol</td>
                                    <td class="text-end">32,00</td>
                                    <td class="text-center">4</td>
                                    <td class="text-end">234,00</td>
                                </tr>
                                <tr>
                                    <td>Cachecol</td>
                                    <td class="text-end">32,00</td>
                                    <td class="text-center">4</td>
                                    <td class="text-end">234,00</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-end" colspan="3">Valor dos Produtos:</th>
                                    <td class="text-end">890,78</td>
                                </tr>
                                <tr>
                                    <th class="text-end" colspan="3">Valor do Frete:</th>
                                    <td class="text-end">23,00</td>
                                </tr>
                                <tr>
                                    <th class="text-end" colspan="3">Valor a Pagar:</th>
                                    <td class="text-end">890,78</td>
                                </tr>
                                <tr>
                                    <th class="text-end" colspan="3">Forma de Pagamento:</th>
                                    <td class="text-end">Nubank</td>
                                </tr>
                            </tfoot>
                       </table>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pedido000011">
                        <b>Pedido 000010</b>
                        <span class="mx-1">(realizado em 11/10/2020)</span>
                      </button>
                    </h2>
                    <div id="pedido000011" class="accordion-collapse collapse" data-bs-parent="#divPedidos">
                      <div class="accordion-body">
                         <table class="table">
                             <thead>
                                  <tr>
                                      <th>Produto</th>
                                      <th class="text-end">R$ Unit.</th>
                                      <th class="text-center">Qtde.</th>
                                      <th class="text-end">Subtotal</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>Cachecol</td>
                                      <td class="text-end">32,00</td>
                                      <td class="text-center">4</td>
                                      <td class="text-end">234,00</td>
                                  </tr>
                                  <tr>
                                      <td>Cachecol</td>
                                      <td class="text-end">32,00</td>
                                      <td class="text-center">4</td>
                                      <td class="text-end">234,00</td>
                                  </tr>
                                  <tr>
                                      <td>Cachecol</td>
                                      <td class="text-end">32,00</td>
                                      <td class="text-center">4</td>
                                      <td class="text-end">234,00</td>
                                  </tr>
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <th class="text-end" colspan="3">Valor dos Produtos:</th>
                                      <td class="text-end">890,78</td>
                                  </tr>
                                  <tr>
                                      <th class="text-end" colspan="3">Valor do Frete:</th>
                                      <td class="text-end">23,00</td>
                                  </tr>
                                  <tr>
                                      <th class="text-end" colspan="3">Valor a Pagar:</th>
                                      <td class="text-end">890,78</td>
                                  </tr>
                                  <tr>
                                      <th class="text-end" colspan="3">Forma de Pagamento:</th>
                                      <td class="text-end">Nubank</td>
                                  </tr>
                              </tfoot>
                         </table>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pedido000012">
                        <b>Pedido 000010</b>
                        <span class="mx-1">(realizado em 11/10/2020)</span>
                      </button>
                    </h2>
                    <div id="pedido000012" class="accordion-collapse collapse" data-bs-parent="#divPedidos">
                      <div class="accordion-body">
                         <table class="table">
                             <thead>
                                  <tr>
                                      <th>Produto</th>
                                      <th class="text-end">R$ Unit.</th>
                                      <th class="text-center">Qtde.</th>
                                      <th class="text-end">Subtotal</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>Cachecol</td>
                                      <td class="text-end">32,00</td>
                                      <td class="text-center">4</td>
                                      <td class="text-end">234,00</td>
                                  </tr>
                                  <tr>
                                      <td>Cachecol</td>
                                      <td class="text-end">32,00</td>
                                      <td class="text-center">4</td>
                                      <td class="text-end">234,00</td>
                                  </tr>
                                  <tr>
                                      <td>Cachecol</td>
                                      <td class="text-end">32,00</td>
                                      <td class="text-center">4</td>
                                      <td class="text-end">234,00</td>
                                  </tr>
                              </tbody>
                              <tfoot>
                                  <tr>
                                      <th class="text-end" colspan="3">Valor dos Produtos:</th>
                                      <td class="text-end">890,78</td>
                                  </tr>
                                  <tr>
                                      <th class="text-end" colspan="3">Valor do Frete:</th>
                                      <td class="text-end">23,00</td>
                                  </tr>
                                  <tr>
                                      <th class="text-end" colspan="3">Valor a Pagar:</th>
                                      <td class="text-end">890,78</td>
                                  </tr>
                                  <tr>
                                      <th class="text-end" colspan="3">Forma de Pagamento:</th>
                                      <td class="text-end">Nubank</td>
                                  </tr>
                              </tfoot>
                         </table>
                      </div>
                    </div>
                  </div>
                
              </div>
        </div>
    </div>
</div>