<footer class="border-top text-muted bg-light" >
    <div class="container">

        <div class="row py-3">

            <div class="col-12 col-md-4 pb-2 text-center">
                &copy; 2021 - Services <br>
                Loja Online - Brasília <br>
                CNPJ 99.999.999/0001-99
            </div>

            <div class="col-12  col-md-4 pb-2 text-center">
                <a routerLink="privacy" class="text-decoration-none text-dark">
                    Política de Privacidade
                </a><br>
                <a routerLink="terms" class="text-decoration-none text-dark">
                    Termos de Uso
                </a><br>
                <a routerLink="about" class="text-decoration-none text-dark">
                    Quem somos
                </a><br>
                <a routerLink="exchanges" class="text-decoration-none text-dark">
                    Trocas e Devoluções
                </a>
            </div>

            <div class="col-12 col-md-4 text-center">
                <a href="" class="text-decoration-none text-dark">
                    Contato pelo Site
                </a><br>
                E-mail:
                <a href="mailton:email@dominio.com" class="text-decoration-none text-dark">
                    email@dominio.com
                </a><br>
                Telefone:
                <a href="phone:61999999999" class="text-decoration-none text-dark">
                    (21) 99999-0000
                </a>
                
            </div>
            
        </div>
    </div>

</footer>
