<nav class="navbar navbar-expand-lg navbar-dark bg-primary--purple border-bottom shadow-sm mb-3">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img class="logo-servise__nav" src="assets/images/logo/logo_service_1.png" alt="logo service">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">

      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categoria
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      <div class="align-self-end">

        <ul class="navbar-nav">
          <li class="nav-item me-5">
            <span class="badge rounded-pill bg-light color-primary--purple position-absolute ms-3 mt-0" title="5 produtos(s) no carrinho">
              <small>3</small>
            </span>
            <a href="shoppingCart" class="nav-link">
              <i class="bi bi-cart fs-4"></i>
              
            </a>
          </li>
          <li class="nav-item me-5">
            <!-- <span class="badge rounded-pill bg-light color-primary--purple position-absolute ms-3 mt-0" title="5 produtos(s) no carrinho">
              <small>3</small>
            </span> -->
            <a href="registerProduct" class="nav-link">
              <i class="bi bi-box-arrow-in-down fs-4"></i>
              
            </a>
          </li>
          <li class="nav-item">
            <a href="login" class="nav-link nav-link--login">Entrar</a>
          </li>
          <li class="nav-item">
            <a href="registerUser" class="nav-link nav-link--singUp">Cadastrar</a>
          </li>
        </ul>

      </div>

    </div>
  </div>
</nav>