<div class="container">
    <div class="row g-3">
        <div class="col-12 col-sm-6">
            <img src="assets/images/produtos/cachecol-croche-de-la-com-franja-la.jpg" alt="cachecol" class="img-thumbnail product-img" id="cachecolProduto">
            <br class="clearfix">

            <!-- <div class="row my-3 gx-3">
                <div class="col-3 product-img__size">
                    <img src="assets/images/produtos/cachecol-croche-de-la-com-franja-la.jpg" alt="cachecol" class="img-thumbnail" onclick="trocarImagem(this)">
                </div>

                <div class="col-3 product-img__size">
                    <img src="assets/images/produtos/ele.jpg" alt="cachecol" class="img-thumbnail" onclick="trocarImagem(this)">
                </div>

                <div class="col-3 product-img__size">
                    <img src="assets/images/produtos/Entenda-por-que-o-mercado-de-cerveja-artesanal-cresceu-tanto-no-Brasil.jpg" alt="cachecol" class="img-thumbnail" onclick="trocarImagem(this)">
                </div>

                <div class="col-3 product-img__size">
                    <img src="assets/images/produtos/fto_ft1_169649.jpg" alt="cachecol" class="img-thumbnail" onclick="trocarImagem(this)">
                </div>
            </div> -->

        </div>
            <div class="col-12 col-sm-6">
                <h1>Cachecol</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum dolorem esse tenetur nisi itaque possimus aut;
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, ratione! Deserunt molestiae perspiciatis et 
                    suscipit ex necessitatibus consequatur neque dicta similique cupiditate. Nam architecto eaque deserunt eveniet 
                    ugiat sint vitae?
                </p>
                <p>
                    <button class="btn btn-lg btn-danger me-2 mb-3 mb-xl-0">
                        <i class="bi-cart"></i>Adicionar ao Carrinho
                    </button>

                    <button class="btn btn-lg btn-outline-danger">
                        <i class="bi-heart"></i>Adicionar aos Favoritos
                    </button>
                </p>
            </div>
        </div>
</div>