<div class="container">
    <div class="row justify-content-center">
        <form action="" class="col-sm-10 col-md-8 col-lg-6">
            <h1>Acessar conta</h1>

            <div class="form-floating mb-3">
                
                <input type="email" class="form-control" id="loginEmail" autofocus>
                <label for="loginEmail">Email</label>

            </div>

            <div class="form-floating mb-3">
                
                <input type="password" class="form-control" id="loginSenha" autofocus>
                <label for="loginSenha">Senha</label>

            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" value="" id="chkLembrar">
                <label for="chkLembrar" class="form-check-label">Lembrar de mim</label>
            </div>


            <button type="button" class="btn btn-lg btn-danger" onclick="window.location.href='dataClient'">
                Entrar
            </button>

            <p class="mt-3">
                Ainda não é cadastrado? <a href="#">Clique aqui</a> para se cadastrar.
            </p>

            <p class="mt-3">
                Esqueceu a senha? <a href="login/recoveryPassword">Clique aqui</a> para recuperá-la.
            </p>
        </form>
    </div>
</div>