<div class="container">
    <div class="row justify-content-center">
        <form action="" class="col-sm-10 col-md-8 col-lg-6">
            <h1>Entre em Contato</h1>

            <div class="form-floating mb-3">
                
                <input type="text" class="form-control" id="contactNomeCompleto" autofocus>
                <label for="contactNomeCompleto">Nome Completo</label>

            </div>

            <div class="form-floating mb-3">
                
                <input type="email" class="form-control" id="contactEmail">
                <label for="contactEmail">Email</label>

            </div>

            <div class="form-floating mb-3">
                
                <textarea class="form-control" id="contactMensagem"></textarea>
                <label for="contactMensagem">Mensagem</label>

            </div>


            <button type="button" class="btn btn-lg btn-danger" onclick="window.location.href='confirmContact'">
                Enviar Mensagem
            </button>

            <p class="mt-3">
                Faremos nosso melhor para responder sua mensagem em até 2 dias úteis.
            </p>

            <p class="mt-3 mb-5">
                Atenciosamente, <br>
                Central de Relacionamento Services.
            </p>


        </form>
    </div>
</div>