<div class="container">
    <h1>Minha Conta</h1>
    <div class="row gx-3 mb-3">
        <div class="col-4">
            <div class="list-group">
                <a href="dataClient" class="list-group-item list-group-item-action">
                    <i class="bi-person fs-6"></i> Dados Pessoais
                </a>

                <a href="clientContacts" class="list-group-item list-group-item-action">
                    <i class="bi-mailbox fs-6"></i> Contatos
                </a>

                <a href="clientAddress" class="list-group-item list-group-item-action">
                    <i class="bi-house-door fs-6"></i> Endereço
                </a>

                <a href="clientOrders" class="list-group-item list-group-item-action">
                    <i class="bi-person fs-6"></i> Pedidos
                </a>

                <a href="clientFavorites" class="list-group-item list-group-item-action bg-danger text-light">
                    <i class="bi-heart fs-6"></i> Favoritos
                </a>

                <a href="clientChangePassword" class="list-group-item list-group-item-action">
                    <i class="bi-lock fs-6"></i> Alterar Senha
                </a>

                <a href="home" class="list-group-item list-group-item-action">
                    <i class="bi-door-open fs-6"></i> Sair
                </a>
            </div>
        </div>
        <div class="col-8">
            <div class="row g-3">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                <!-- <div class="col-12 col-sm-6 col-lg-4 col-xl-3">     -->
                    <div class="card product-card__body text-center bg-light">
              
                      <a href="#" class="position-absolute end-0 p-2 text-danger" title="Remover dos favoritos">
                        <i class="bi-x icon-x"></i>
                      </a>
                      
                      <a href="#">
                        <img src="assets/images/produtos/cachecol-croche-de-la-com-franja-la.jpg" class="card-img-top product-card__img" alt="cachecol">
                      </a>
                      
              
                      <div class="card-header">
                        R$ 32,50
                      </div>
              
                      <a href="#" class="card-body product-card__link">
                        <h5 class="card-title">Cachecol</h5>
              
                        <p class="card-text truncar-3l">
                          Cachecol feito a mão grosso e ótimo para usar em dias frios.
                        </p>
                      </a>
              
                      <div class="card-footer">
                        <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
                          Adicionar ao Carrinho
                        </a>
                      </div>
                      <small class="text-success">3 em estoque</small>
                    </div>
              
                  </div>
                
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    
                    <div class="card product-card__body text-center bg-light">
              
                      <a href="#" class="position-absolute end-0 p-2 text-danger" title="Remover dos favoritos">
                        <i class="bi-x icon-x"></i>
                      </a>
                      
                      <a href="#">
                        <img src="assets/images/produtos/ele.jpg" class="card-img-top product-card__img" alt="cachecol">
                      </a>
                      
              
                      <div class="card-header">
                        R$ 32,50
                      </div>
              
                      <a href="#" class="card-body product-card__link">
                        <h5 class="card-title">Eletricista</h5>
              
                        <p class="card-text truncar-3l">
                          Precisa de ajudar para arrumar sua parte eltrica da sua casa?
                          não se preocupe porquê tenho anos de experiência em mexer com eletricidade
                          e posso fazer em um valor que seja consideravel para quem me contratar.
                        </p>
                      </a>
              
                      <div class="card-footer">
                        <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
                          Adicionar ao Carrinho
                        </a>
                      </div>
                      <small class="text-success">3 em estoque</small>
                    </div>
              
                  </div>
              
                  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
                  
                    <div class="card product-card__body text-center bg-light">
              
                      <a href="#" class="position-absolute end-0 p-2 text-danger" title="Remover dos favoritos">
                        <i class="bi-x icon-x"></i>
                      </a>
                      
                      <a href="#">
                        <img src="assets/images/produtos/Entenda-por-que-o-mercado-de-cerveja-artesanal-cresceu-tanto-no-Brasil.jpg" class="card-img-top product-card__img" alt="cachecol">
                      </a>
                      
              
                      <div class="card-header">
                        R$ 32,50
                      </div>
              
                      <a href="#" class="card-body product-card__link">
                        <h5 class="card-title">Cachecol</h5>
              
                        <p class="card-text truncar-3l">
                          Cachecol feito a mão grosso e ótimo para usar em dias frios.
                        </p>
                      </a>
              
                      <div class="card-footer">
                        <a href="carrinhoCompras" class="btn btn-danger mt-2 d-block">
                          Adicionar ao Carrinho
                        </a>
                      </div>
                      <small class="text-success">3 em estoque</small>
                    </div>
              
                  </div>
                  
            </div>
        </div>
    </div>
</div>