/* You can add global styles to this file, and also import other style files */
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */

body {
    min-width: 372px;
}

.wrapper {
    min-height: 100vh;
}


.bg-primary--purple {
    background-color: #993399;
}


.color-primary--purple{
    color: #993399;
}

.color-secundary--white {
    color: white;
}



