<div class="container text-center">
    <h1>Obrigado!</h1>
    <hr>
    <h3>Anote o número do seu pedido:</h3>
    <h2 ><b class="text-danger">004582</b></h2>
    <p>
        Em até 14 dias, seu pedido será entregue. Qualquer dúvida sobre este pedido, 
        entre em contanto com o vendedor ou conosco e informe o número do pedido para 
        que possaamos te ajudar.
    </p>
    <p>Tenha um ótimo dia!</p>
    <p>
        Atenciosamente, <br>
        Equipe Services.
    </p>
    <p>
        <a href="home" class="btn btn-danger btn-lg">Voltar à Página Principal</a>
    </p>
</div>